div{
    height: 200px;
    width: 200px;
    cursor: pointer;
    margin: 10px;
}
section{
    display: flex;
    margin: 10px;
    padding: 10px;
}
p{
    text-align: center;
}
.firstelement{
    background-color: blue;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s linear;
}

.firstelement:first-child{
    background-color: aqua;
}
.firstelement:last-child{
    background-color: blueviolet;
}
.firstelement:nth-child(2){
    background-color: plum;
}
.firstelement:nth-child(3){
    background-color:pink;
}
.firstelement:hover{
    background-color: lightcoral;
    scale: 1.2;
}
.firstelement:hover{
    scale: 1.2;
}